{# default selector #}

<div class="pdp_pager_pagesize">
    {{ form_widget(pager.PagerFormView.s.pageSize) }}
    <script type="text/javascript">
        //<![CDATA[
        $('#{{ pager.PagerFormView.s.pageSize.vars.id }}').change(function(){
            switch($(this).children(':selected').val()){
                {% for key, param_list in pager.PageSizeParamList %}
                case '{{ key }}':
                    location.href = "{{ path(pager.LinkRouteName, param_list)|raw }}";
                    break;
                {% endfor %}
            }
        });
        //]]>
    </script>
</div>
