{# default selector #}

<div class="pdp_pager_selector">
    {% for page in pager.PagerSelector.PageNo.Rows %}
        {% if page.select %}
            {{ page.label }}
        {% else %}
            <a href="{{ path(pager.LinkRouteName, page.query)|raw }}" >{{ page.label }}</a>
        {% endif %}
    {% endfor %}
</div>
